body {
    background-image: url('../imagens/homepage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input {

    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}

.Botao {

    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 05px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.Botao:hover {
    background-color: #45a049;
}